.splashscreen-container {
	min-height: 100vh;
	min-width: 100vh;

	background: linear-gradient(#40558d, #407c8d);
	color: #f5f6f9;

	font-family: var(--font-logo);
	font-size: 250px;
	font-weight: 100;

	display: flex;
	align-items: center;
	justify-content: center;
}